- if controller_name != 'sessions'
  = link_to t("text.users.sign_in"), new_session_path(resource_name), class: "btn"
- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to t("text.users.sign_up"), new_registration_path(resource_name), class: "btn"
  %br/
- if devise_mapping.omniauthable?
  %h4= t("text.users.sign_in_with")
  - resource_class.omniauth_providers.each do |provider|
    = link_to omniauth_authorize_path(resource_name, provider) do
      %img{ src: "/images/facebook_64.png" }
  %br/
%hr
- if devise_mapping.recoverable? && controller_name != 'passwords'
  = link_to t("text.users.recoverable"), new_password_path(resource_name)
  %br/
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to t("text.users.confirmable"), new_confirmation_path(resource_name)
  %br/
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to t("text.users.lockable"), new_unlock_path(resource_name)
  %br/
