%h2= t("text.users.your_friends")
%table
	- user_friends.each do |f|
		%tr
			%td= f
			%td= link_to t("text.users.unfriend"), friend_path(f), method: :delete, data: { confirm: t("hints.users.dont2") }, class: "btn--destroy btn-mini", hint: t("hints.users.dont")
- unless current_user.friend_requests_from.empty?
	= link_to friend_requests_path, class: "btn--edit" do
		= t("text.users.see_friend_requests")
		%li.badge= current_user.friend_requests_from.length
- else
	= t("text.users.no_friend_requests")
