- if current_user.friends.include? user
	= t("text.users.friend")
	= link_to t("text.users.unfriend"), friend_path(user), method: :delete, data: { confirm: t("hints.users.dont2") }, class: "btn--destroy btn-mini", hint: t("hints.users.dont")
- elsif fr = current_user.friend_requests_from.detect { |f| f.from_user == user }
	= t("hints.users.friend_request_received")
	= link_to t("text.nav.accept"), friends_path(friend_request_id: fr.id), method: :post, class: "btn--create"
	= link_to t("text.nav.refuse"), friend_request_path(fr), method: :delete, data: { confirm: t("hints.users.dont3") }, class: "btn--destroy", hint: t("hints.users.dont")
- elsif fr = current_user.friend_requests_to.detect { |f| f.to_user == user }
	= t("text.users.friend_request_sent")
	= link_to t("text.nav.resign"), friend_request_path(fr), method: :delete, data: { confirm: t("hints.users.sure_no_wait") }, class: "btn--destroy btn-mini", hint: t("hints.users.dont")
- else
	= link_to t("text.users.request_friends"), friend_requests_path(friend_id: user.id), method: :post, class: "btn--create"
