%h3= t("text.users.users")
%table.users
	%tr
		%th= t("text.users.name")
		%th= t("text.users.signed_up")
		%th= t("text.users.friend_status")
	- (@users - [current_user]).each do |user|
		%tr
			%td= link_to user.name, user
			%td= l (user.created_at || "")
			%td
				= render "friend_status", user: user
