%h1= "Welcome expense-calc!"

%ol
	%li
		%h4= "Login"
		%p= "and add some friends."

	%li
		%h4= "Create reckoning"
		%p= "invite them to participate."

	%li
		%h4= "Add items you bought"
		%p= "and specify the expenses - how much you paid, how much you used. You can already see some statistics!"

	%li
		%h4= "Hit the 'Settle-up report'"
		%p= "And you'll finally get to know who owes who and how much!"
