%h1= t("text.home.hello")

%ol
	%li
		%h4= t("text.home.h1")
		%p= t("text.home.d1")

	%li
		%h4= t("text.home.h2")
		%p= t("text.home.d2")
		
	%li
		%h4= t("text.home.h3")
		%p= t("text.home.d3")

	%li
		%h4= t("text.home.h4")
		%p= t("text.home.d4")
