%table
	%tr
		%th Name
		%th Bought at
		%th Cost
		%th Valid
		%th
		%th
		%th

	- items.each do |item|
		%tr
			%td= item.name
			%td= item.bought_at ? (l item.bought_at) : ""
			%td= item.money_cost
			- if item.cost_valid?
				%td= "Yes"
			- else
				%td{ class: "item--warning"}= item.money_used
			%td= link_to "Show", reckoning_item_path(reckoning, item)
			%td= link_to "Edit", edit_reckoning_item_path(reckoning, item)
			%td= link_to "Destroy", reckoning_item_path(reckoning, item), :method => :delete, :data => { :confirm => "Are you sure?" }
	%tr
		%th Total cost
		%th
		%th= reckoning.total_money_cost
	%tr
		%th You used
		%th
		%th= reckoning.total_money_usage_by(current_user.find_user_reckoning(reckoning.id))


%br

= link_to "New Item", new_reckoning_item_path(reckoning)
