%table
	%tr
		%th
		%th Name
		%th Bought at
		%th Cost
		%th Valid
		%th You paid
		%th You used
		%th Balance
		%th
		%th

	- i = 0
	- valid = false
	- items.each do |item|
		- valid = item.cost_valid?
		%tr
			%td{ class: ("item--warning" unless valid) }= (i += 1)
			%td= link_to item, reckoning_item_path(reckoning, item)
			%td= item.bought_at ? (l item.bought_at) : ""
			%td= item.money_cost
			- if valid
				%td= "Yes"
			- else
				%td{ class: "item--warning" }= item.money_used
			%td= item.money_paid_by(current_user_reckoning)
			%td= item.money_used_by(current_user_reckoning)
			%td{ class: ("item--warning" unless item.positive_balance_of?(current_user_reckoning)) }
				= item.balance_of(current_user_reckoning)
			%td= link_to "Edit", edit_reckoning_item_path(reckoning, item)
			%td= link_to "Destroy", reckoning_item_path(reckoning, item), :method => :delete, :data => { :confirm => "Are you sure?" }
	%tr
		%th Total
		%th
		%th
		%th Cost
		%th
		%th Money paid
		%th Money used
		%th Balance
	%tr
		%td
		%td
		%td
		%td= reckoning.total_money_cost
		%td
		%td= reckoning.total_money_paid_by(current_user_reckoning)
		%td= reckoning.total_money_usage_by(current_user_reckoning)
		%td{ class: ("item--warning" unless reckoning.total_balance_positive?(current_user_reckoning)) }
			= reckoning.total_money_balance_of(current_user_reckoning)



%br

= link_to "New Item", new_reckoning_item_path(reckoning)
