%table
	%tr
		%th
		%th Name
		%th Bought at
		%th Cost
		%th Valid
		%th You paid
		%th You used
		%th Your balance
		%th
		%th

	- i = 0
	- valid = false
	- items.each do |item|
		- valid = item.cost_valid?
		%tr{ class: ("item--warning" unless valid) }
			%td= (i += 1)
			%td
				%big= link_to item, reckoning_item_path(reckoning, item)
			%td= item.bought_at ? (l item.bought_at) : ""
			%td= item.money_cost
			- if valid
				%td= "Yes"
			- else
				%td{ class: "item--warning" }= item.money_used
			%td= item.money_paid_by(current_user_reckoning)
			%td= item.money_used_by(current_user_reckoning)
			%td{ class: ("item--warning" unless item.positive_balance_of?(current_user_reckoning)) }
				= item.balance_of(current_user_reckoning)
			%td= link_to "Edit", edit_reckoning_item_path(reckoning, item), class: "btn--edit"
			%td= link_to "Remove", reckoning_item_path(reckoning, item), :method => :delete, :data => { :confirm => "Are you sure?" }, class: "btn--destroy"
	%tr
		%th Total
		%th
		%th
		%th Cost
		%th
		%th Money you paid
		%th Money you used
		%th Your balance
	%tr
		%td
		%td
		%td
		%td= reckoning.total_money_cost
		%td
		%td= reckoning.total_money_paid_by(current_user_reckoning)
		%td= reckoning.total_money_usage_by(current_user_reckoning)
		%td{ class: ("item--warning" unless reckoning.total_balance_positive?(current_user_reckoning)) }
			= reckoning.total_money_balance_of(current_user_reckoning)



%br

= link_to new_reckoning_item_path(reckoning), class: "btn--create" do
	%i{ class: "icon-plus icon-white" }
	%span= "New Item"
