%h3{ class: ("item--warning" unless item.cost_valid?) }= item
%h5
	= t("text.items.in")
	= link_to reckoning, reckoning
.span7.pull-left
	%p= item.multiline_description
	.form-actions
		= link_to t("text.nav.edit"), edit_reckoning_item_path(reckoning, item), class: "btn--edit"
		= link_to t("text.nav.remove"), reckoning_item_path(reckoning, item), method: :delete, data: { confirm: t("hints.you_sure") }, class: "btn--destroy"
		= link_to t("text.expenses.even"), even_item_path(reckoning, item), class: "btn--info"
		= link_to t("text.nav.back"), reckoning_items_path(reckoning), class: "btn--back"

	%h4= link_to t("text.expenses.expenses"), item_expenses_path(item)
	= render "expenses/expenses", expenses: expenses

.span4.pull-right
	%table
		%tr
			%th= t("text.items.bought_at") + ": "
			%td= item.date_of_purchase
		%tr{ class: ("item--warning" unless item.cost_valid?) }
			%th
				= t("text.items.cost") + ": "
				= render "layouts/hint", tag: "small", hint: t("hints.expenses.cost"), text: "(?)"
			%td= item.money_cost
		%tr{ class: ("item--warning" unless item.cost_valid?) }
			%th
				= t("text.items.total_used") + ": "
				= render "layouts/hint", tag: "small", hint: t("hints.expenses.total_used"), text: "(?)"
			%td= item.money_used
		%tr
			%th
				= t("text.items.you_paid") + ": "
				= render "layouts/hint", tag: "small", hint: t("hints.expenses.you_paid"), text: "(?)"
			%td= item.money_paid_by(current_user_reckoning)
		%tr
			%th
				= t("text.items.you_used") + ": "
				= render "layouts/hint", tag: "small", hint: t("hints.expenses.you_used"), text: "(?)"
			%td= item.money_used_by(current_user_reckoning)
		%tr{ class: ("item--warning" if item.positive_balance_of?(current_user_reckoning)) }
			%th
				= t("text.items.your_balance") + ": "
				= render "layouts/hint", tag: "small", hint: t("hints.expenses.your_balance"), text: "(?)"
			%td= item.balance_of(current_user_reckoning)
	- unless item.cost_valid?
		.panel.panel-danger
			.panel-header
				%h3.panel-title= t("text.expenses.invalid")
			%p
				= t("text.expenses.invalid_explain")
				= t("text.expenses.invalid_explain2")
				%br
				%b= t("hints.tip") + ": "
				= t("hints.expenses.invalid")
