%p#notice= notice

%p
  %b Name:
  = item.name
%p
  %b Bought at:
  = item.bought_at

= link_to 'Edit', edit_reckoning_item_path(reckoning, item)
\|
= link_to "Expenses", item_expenses_path(item)
\|
= link_to 'Back', reckoning_items_path(reckoning)
