= simple_form_for(reckoning) do |f|
	= f.error_notification
	.reckoning--form-inputs
		= f.input :name
		= f.input :description, as: :text, input_html: { class: "span6", rows: 15 }

	- unless new_invitations.empty?
		.user--list
			%h4 You may invite some of your friends:
			= f.association :invitations, collection: new_invitations, as: :check_boxes, include_blank: false

	.reckoning--form-actions
		= f.button :submit


