= simple_form_for(reckoning) do |f|
	= f.error_notification

	.form-inputs
		= f.input :name
		= f.input :description, as: :text

		%h4 You may invite some of your friends:
		= f.association :invitations, collection: new_invitations, as: :check_boxes, include_blank: false

	.form-actions
		= f.button :submit


