%h4
  = t("text.reckonings.reckonings")
  %small= "(#{your_reckonings.length})"
 
- if your_reckonings.empty?
  %p= t("text.reckonings.none")
- else
  %table
    %tr
      %th= t("text.reckonings.name")
      %th= t("text.reckonings.created_at")
      %th= t("text.reckonings.number_of_users")
      %th= t("text.reckonings.admin")
      %th
      %th

    - your_reckonings.each do |reckoning|
      %tr
        %td= link_to reckoning, reckoning
        %td= reckoning.date_of_creation
        %td= reckoning.user_reckonings.length
        %td= reckoning.admin
        - if can? :manage, reckoning
          %td= link_to t("text.nav.edit"), edit_reckoning_path(reckoning), class: "btn--edit"
          %td= link_to t("text.nav.remove"), reckoning, method: :delete, data: { confirm: t("hints.you_sure") }, class: "btn--destroy"

%br

- if invitations.empty?
  %p= t("text.invitations.none")
- else
  %h4
    = t("text.invitations.following")
    %small= "(#{invitations.length})"
  %table
    %tr
      %th= t("text.reckonings.name")
      %th= t("text.reckonings.created_at")
      %th= t("text.reckonings.number_of_users")
      %th= t("text.reckonings.admin")
      %th
      %th

    - invitations.each do |inv|
      %tr
        %td= inv.name
        %td= inv.date_of_creation
        %td= inv.user_reckonings.length
        %td= inv.admin
        %td= link_to t("text.nav.accept"), reckoning_user_reckonings_path(inv), method: :post, class: "btn--create"
        %td= link_to t("text.nav.refuse"), reckoning_invitation_path(inv, current_user), method: :delete, class: "btn--destroy", data: { confirm: "Are you sure?" }

%br

= link_to new_reckoning_path, class: "btn--create" do
  %i{ class: "icon-plus icon-white" }
  %span= t("text.reckonings.new")
