%p#notice= notice

.reckoning
	%h2= link_to reckoning, reckoning
	%p
		%b Created at:
		= l reckoning.created_at
	%p
		= reckoning.description

	.form-actions
		= link_to "Settle-up report", reckoning_report_path(reckoning), method: :post, class: "btn--info"
		= link_to "Edit", edit_reckoning_path(reckoning), class: "btn--edit"
		= link_to "Remove", reckoning, :method => :delete, :data => { :confirm => "Are you sure?" }, class: "btn--destroy"
.user--list
	%h4 Users in this reckoning
	%table
		- users_in_reckoning.each do |u|
			%tr
				%td= u
	- unless reckoning.invitations.empty?
		%h4 Invited
		%table
			- reckoning.invitations.each do |u|
				%tr
					%td= u
	= link_to "Invite friends", edit_reckoning_path(reckoning), class: "btn--edit"
.item--list
	%h4= link_to "Items bought", reckoning_items_path(reckoning)
	= render "items/items", items: items
