%p#notice= notice

.reckoning
	%p
		%b Name:
		= reckoning.name
	%p
		%b Created at:
		= l reckoning.created_at
	%p
		%b Description:
		= reckoning.description

	= link_to "Edit", edit_reckoning_path(reckoning)
	\|
	= link_to "Items", reckoning_items_path(reckoning)
	\|
	= link_to "Report", reckoning_report_path(reckoning)
	\|
	= link_to "Back", reckonings_path
.user--list
	%h4 Users in this reckoning
	%ul
		- users_in_reckoning.each do |u|
			%li
				= u
	= link_to "Invite friends", edit_reckoning_path(reckoning)
