%p#notice= notice

%p
  %b Name:
  = reckoning.name
%p
  %b Created at:
  = reckoning.created_at
%p
  %b Report valid:
  = reckoning.report_valid

= link_to "Edit", edit_reckoning_path(reckoning)
\|
= link_to "Items", reckoning_items_path(reckoning)
\|
= link_to "Back", reckonings_path
