- if requests_from.empty? && requests_to.empty?
	%p You have no friend requests
- else
	- unless requests_from.empty?
		%h3
			Following users have sent you friend requests:
		%table
			- requests_from.each do |fr|
				%tr
					%td= fr.from_user.to_s
					%td
						= link_to "Accept", friends_path(friend_request_id: fr.id), method: :post, class: "btn--create"
						= link_to "Refuse", friend_request_path(fr), method: :delete, data: { confirm: "You'll end up alone this way, are you sure?" }, class: "btn--destroy"

	- unless requests_to.empty?
		%h3
			You have sent friend requests to:
		%table
			- requests_to.each do |fr|
				%tr
					%td= fr.to_user.to_s
					%td= link_to "Resign", friend_request_path(fr), method: :delete, data: { confirm: "Are you sure you don't want to wait any more?" }, class: "btn--destroy"
		%p Still waiting...
