- if requests_from.empty? && requests_to.empty?
	%p= t("text.users.no_friend_requests")
- else
	- unless requests_from.empty?
		%h3= t("text.users.following_friend_requests")
		%table
			- requests_from.each do |fr|
				%tr
					%td= fr.from_user.to_s
					%td
						= link_to t("text.nav.accept"), friends_path(friend_request_id: fr.id), method: :post, class: "btn--create"
						= link_to t("text.nav.refuse"), friend_request_path(fr), method: :delete, data: { confirm: t("hints.users.dont3") }, class: "btn--destroy"

	- unless requests_to.empty?
		%h3= t("text.users.you_have_sent_requests_to")
		%table
			- requests_to.each do |fr|
				%tr
					%td= fr.to_user.to_s
					%td= link_to t("text.nav.resign"), friend_request_path(fr), method: :delete, data: { confirm: t("hints.users.sure_no_wait") }, class: "btn--destroy"
		%p= t("text.users.still_waiting")
