%table
  %tr
    %th= t("text.users.user")
    %th
      = t("text.expenses.paid")
      = render "expenses/hint_paid", tag: "small", text: "(?)"
    %th
      = t("text.expenses.used")
      = render "expenses/hint_used", tag: "small", text: "(?)"
    %th

  - expenses.each do |expense|
    %tr
      %td= expense.user_reckoning.user
      %td
        %span{ hint: t("hints.expenses.paid_inline", paid: expense.money_paid, user: expense.user_reckoning.user, item: expense.item.name) }= expense.money_paid
      %td
        %span{ hint: t("hints.expenses.used_inline", used: expense.money_used, user: expense.user_reckoning.user, item: expense.item.name) }= expense.money_used
      %td
        = link_to t("text.nav.edit"), edit_item_expense_path(item, expense), class: "btn--edit"
        = link_to t("text.nav.remove"), item_expense_path(item, expense), method: :delete, data: { confirm: t("hints.you_sure") }, class: "btn--destroy"

%br

- unless new_user_reckonings.empty?
  = link_to new_item_expense_path(item), class: "btn--create" do
    %i{ class: "icon-plus icon-white" }
    %span= t("text.expenses.new")
