= simple_form_for [item, expense] do |f|
	= f.error_notification

	.form-inputs
		- if expense.new_record?
			= f.association :user_reckoning, collection: new_user_reckonings, label: t("text.users.user"), label_method: :user_name, value_method: :id, selected: new_user_reckonings.first, input_html: { hint: t("hints.expenses.user_reckoning") }
		- else
			%h4= expense.user_name
		= f.input :paid, label: t("text.expenses.paid"), input_html: { value: expense.money_paid, class: "expense--paid", label: t("text.expenses.used"), hint: t("hints.expenses.paid") }
		= f.input :used, label: t("text.expenses.used"), input_html: { value: expense.money_used, class: "expense--used", hint: t("hints.expenses.used") }
		= link_to t("text.expenses.rest"), rest_item_expense_path(item, expense_id: expense.id), class: "expense--rest btn--info", hint: t("hints.expenses.rest")

	.form-actions
		= f.button :submit, t(action_name == "edit" ? "text.nav.update" : "text.nav.create")
= link_to t("text.nav.back"), reckoning_item_path(reckoning, item), class: "btn--back"
