.navigation
  %ul.nav
    %li
      = link_to "expense-calc", root_path
    - if user_signed_in?
      %li
        = link_to "Users", users_path
      %li{class: is?("devise/registrations")}
        = link_to "Edit account", edit_user_registration_path
      %li
        = link_to "Friends", friends_path
      %li
        = link_to "Reckonings", reckonings_path
      %li.logout-button
        = link_to "Logout", destroy_user_session_path, method: "delete", class: "pull-right"
    - else
      %li.login-button
        = link_to "Login", new_user_session_path
